.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("sprite/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2001em 90.5em;
}

.no-svg .icon:before {
    background-image: url("sprite/sprite.png");
}



  .icon.add:before {
      background-position: 0em 0em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.add2:before {
      background-position: 0em -3.2em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.bin:before {
      background-position: 0em -6.4em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.delete:before {
      background-position: 0em -12.8em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.edit:before {
      background-position: 0em -64.1em;
      width: 5.3255em;
      height: 5.3255em;
  }




  .icon.error:before {
      background-position: 0em -69.5em;
      width: 5em;
      height: 5em;
  }




  .icon.file:before {
      background-position: 0em -74.5em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.plus:before {
      background-position: 0em -77.7em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.rubbish-bin:before {
      background-position: 0em -80.9em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.sort_asc:before {
      background-position: 0em -84.1em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.sort_desc:before {
      background-position: 0em -87.3em;
      width: 3.2em;
      height: 3.2em;
  }





